@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');

:root{
    --White: #ffffff;
    --Black: #000000;
    --Dark-Ocean: #1C434A;
    --Light-greay-blue: #8FC6B7;

    --ff-Cinzel-Decorative: 'Cinzel Decorative', 'sant-serif';
    --fs-1: 0.75rem;
    --fs-2: 1rem;
    --fs-3: 1.25rem;
    --fs-4: 1.5rem;
    --fs-5: 1.75rem;

    --py-1: 0.75rem;
    --py-2: 1rem;
    --py-3: 1.25rem;
    --py-4: 1.5rem;
    --py-5: 1.75rem;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}

a,
img,
span,
input,
button,
ion-icon {display: block;}

a {
    text-decoration: none;
    color: inherit;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {width: 100%;}

button {cursor: pointer;}

html {
    font-family: var(--ff-Cinzel-Decorative);
    font-size: var(--fs-2);
    scroll-behavior: smooth;
}

body {
    background-color: var(--White);
    color: var(--Black);
    font-size: var(--fs-4);
    font-weight: 700;
    line-height: 1.6;
}

:focus-visible {outline-offset: 4px;}

::-webkit-scrollbar{
    width: 1rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%);}

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%);}

/* -------------------------------------------------------- */

.container-hero{
    position: relative;
    padding-left: var(--py-1);
    padding-right: var(--py-2);
}


.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h1,
.h2,
.h3,
.h2-large {
    color: var(--Black);
    font-weight: 700;
    line-height: 1.3;
}

/* ---------------------------------------------------------- */

.poster-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 40px 20px;
}

.poster-card {
    margin-top: -2rem;
    flex: 0 1 auto;
    max-width: 240px;
    transition: all 0.3s ease;
}

.poster {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px 20px 10px;
    border: 2px solid black;
    border-radius: 11rem;
    transition: all 0.3s ease;
    z-index: 2;
}

.img-poster {
    width: 100%;
    height: auto;
    display: block;
}
.poster-card-center {
    max-width: 350px;
    transform: scale(1.0);
    z-index: 2;
}

.poster-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0px;
}

.poster-card:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.poster-title-top,
.poster-title-bottom {
    width: 100%;
    max-width: 400px;
    height: 50px;
    display: block;
    overflow: visible;
}

.poster-title-top .curved-text {
    font-size: 2rem;
    font-weight: 700;
    fill: #000000;
    letter-spacing: 2px;
    text-anchor: middle;
}

.poster-title-top {
    margin-bottom: -33px;
}

.poster-card-center .poster-title-top {
    margin-bottom: -45px;
}


.poster-title-bottom .curved-text {
    font-size: 2rem;
    font-weight: 700;
    fill: #000000;
    letter-spacing: 2px;
    text-anchor: middle;
}

.poster-title-bottom {
    margin-top: -20px;
}



/* Для центрального постера */
.poster-card-center .poster-title-top .curved-text,
.poster-card-center .poster-title-bottom .curved-text {
    font-size: 2.2rem;
    font-weight: 700;
}

.poster-card-center .poster-title-top,
.poster-card-center .poster-title-bottom {
    max-width: 420px;
    height: 55px;
}



@media screen and (max-width: 1500px){

    .poster-card-center{
        max-width: 320px;
    }
}

@media screen and (max-width: 1400px){
    .poster-card {
        max-width: 240px;
    }
    
    .poster-card-center{
        max-width: 320px;
    }
}

@media screen and (max-width: 1300px) {

    .poster-card {
        max-width: 220px;
    }

    .poster-card-center {
        max-width: 290px;
    }
}

/* Медиа-запросы */
@media screen and (max-width: 1200px) {

    .poster-title-top {
        margin-bottom: -32px;
    }

    .poster-card-center .poster-title-top {
        margin-bottom: -40px;
    }

    .poster-title-top,
    .poster-title-bottom {
        max-width: 350px;
        height: 45px;
    }
    
    .poster-title-top .curved-text,
    .poster-title-bottom .curved-text {
        font-size: 1.8rem;
    }
    
    .poster-card-center .poster-title-top .curved-text,
    .poster-card-center .poster-title-bottom .curved-text {
        font-size: 2rem;
    }

    .poster {
        padding: 15px 5px 15px 5px;
    }

    .poster-card {
        max-width: 200px;
    }

    .poster-card-center {
        max-width: 280px;
    }
  
}

@media screen and (max-width: 1100px) {

    .poster-card {
        max-width: 180px;
    }
  
    .poster-card-center {
        max-width: 250px;
    }
}

@media screen and (max-width: 992px) {

    .poster {
        padding: 12px 5px 12px 5px;
    }

    .poster-card {
        max-width: 160px;
    }
  
    .poster-card-center {
        max-width: 210px;
    }

  
    .poster-title-top,
    .poster-title-bottom {
        max-width: 300px;
        height: 40px;
    }
  
    .poster-title-top .curved-text,
    .poster-title-bottom .curved-text {
        font-size: 2rem;
    }
  
    .poster-card-center .poster-title-top .curved-text,
    .poster-card-center .poster-title-bottom .curved-text {
        font-size: 2.2rem;
    }
  
    .poster-title-top {
        margin-bottom: -27px;
    }
  
    .poster-title-bottom {
        margin-top: -16px;
    }

    .poster-card-center .poster-title-bottom {
        margin-top: -22px;
    }
}

@media screen and (max-width: 868px) {

    .poster-card {
        max-width: 140px;
    }
    
    .poster-card-center {
        max-width: 180px;
    }
    
    .poster-title-top,
    .poster-title-bottom {
        max-width: 260px;
        height: 35px;
    }
    
    
    .poster-title-top {
        margin-bottom: -25px;
    }
    
    .poster-title-bottom {
        margin-top: -15px;
    }
}

@media screen and (max-width: 780px) {

    .poster-card{
        max-width: 120px;
    }

    .poster-card-center{
        max-width: 150px;
    }

    .poster-title-top {
        margin-bottom: -24px;
    }

    .poster-card-center .poster-title-top {
        margin-bottom: -35px;
    }
}

@media screen and (max-width: 700px) {
    .poster {
        padding: 8px 3px 8px 3px;
        border: 1px solid black
    }

    .poster-card {
        max-width: 110px;
    }

    .poster-card-center {
        max-width: 140px;
    }
}

@media  (max-width: 600px){

    .poster-row {
        padding: 30px 20px;
        gap: 1rem;
    }

    .poster-card {
        max-width: 90px;
    }

    .poster-card-center {
        max-width: 120px;
    }

    .poster-title-top .curved-text,
    .poster-title-bottom .curved-text {
        font-size: 1.8rem;
    }
    
    .poster-card-center .poster-title-top .curved-text,
    .poster-card-center .poster-title-bottom .curved-text {
        font-size: 1.8rem;
    }

}