

.cloud-group{
    display: flex;
    justify-content: space-between;
    margin-top: -8rem;
    position: relative;
    width: 100%;
    overflow: hidden;
    pointer-events: none; 

}

.img-cloud-l,
.img-cloud-r {
    position: relative;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.img-cloud-r{
    width: 845px;
    z-index: 10;
    transform: translateX(0);
}

.img-cloud-l {
    width: 680px;
    z-index: 1;
    transform: translateX(0);
}

.img-cloud-r.scrolled {
    transform: translateX(5%);
}

.img-cloud-l.scrolled {
    transform: translateX(-5%);
}



@media screen and (max-width:1500px) {
      .img-cloud-l{
        width: 600px;
    }

    .img-cloud-r {
        width: 680px;
    }  
}

@media (max-width: 1450px) {
    .cloud-group{
        margin-top: -8rem;
    }
    .img-cloud-l{
        width: 600px;
    }

    .img-cloud-r {
        width: 645px;
    }
}


@media (max-width: 1400px) {
    .cloud-group{
        margin-top: -8rem;
    }
    .img-cloud-l{
        width: 600px;
    }

    .img-cloud-r {
        width: 645px;
    }
}


@media (max-width: 1300px) {
    .img-cloud-l{
        width: 480px;
    }

    .img-cloud-r {
        width: 575px;
    }
}

@media (max-width: 1200px) {
    .img-cloud-l{
        width: 430px;
    }

    .img-cloud-r {
        width: 520px;
    }
}

@media (max-width: 1100px) {
    .img-cloud-l{
        width: 420px;
    }

    .img-cloud-r {
        width: 470px;
    }
}


@media (max-width: 1000px) {
    .cloud-group{
        margin-top: -8rem;
    }
    .img-cloud-l{
        width: 370px;
    }

    .img-cloud-r {
        width: 450px;
    }
}

@media (max-width: 992px) {
    .cloud-group{
        margin-top: -7rem;
    }

    .img-cloud-r {
        width: 420px;
    }
}



@media (max-width: 800px) {
    .cloud-group{
        margin-top: -6rem;
    }
    .img-cloud-l{
        width: 310px;
    }

    .img-cloud-r {
        width: 365px;
    }
}

@media (max-width: 700px) {
    .cloud-group{
        margin-top: -6rem;
    }
    .img-cloud-l{
        width: 280px;
    }

    .img-cloud-r {
        width: 300px;
    }
}

@media (max-width: 600px) {
    .cloud-group{
        margin-top: -5rem;
    }
    .img-cloud-l{
        width: 200px;
    }

    .img-cloud-r {
        width: 250px;
    }
}