@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&display=swap');

:root{
    --White: #ffffff;
    --Black: #000000;
    --Dark-Ocean: #1C434A;
    --Opal-Green: #054C44;
    --Green:#057569;
    --Light-greay-blue: #8FC6B7;
    --Celestial-azure: #E8FFFD;

    --ff-Cinzel-Decorative: 'Cinzel Decorative', 'sant-serif';
    --ff-Albert-Sans: 'Albert Sans', 'sans-serif';
    --fs-1: 0.75rem;
    --fs-2: 1rem;
    --fs-3: 1.25rem;
    --fs-4: 1.5rem;
    --fs-5: 1.75rem;
    --fs-6: 2rem;

    --py-1: 0.75rem;
    --py-2: 1rem;
    --py-3: 1.25rem;
    --py-4: 1.5rem;
    --py-5: 1.75rem;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style: none;}

a,
img,
span,
input,
button,
ion-icon {display: block;}

a {
    text-decoration: none;
    color: inherit;
}

input,
button {
    background: none;
    border: none;
    font: inherit;
}

input {width: 100%;}

button {cursor: pointer;}

html {
    font-family: var(--ff-Cinzel-Decorative);
    font-size: var(--fs-2);
    scroll-behavior: smooth;
}

body {
    background-color: var(--White);
    color: var(--Black);
    font-size: var(--fs-4);
    font-weight: 700;
    line-height: 1.6;
}

:focus-visible {outline-offset: 4px;}

::-webkit-scrollbar{
    width: 1rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track { background: hsl(0, 0%, 95%);}

::-webkit-scrollbar-thumb { background: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%);}

/* ============================================================== */

.exContainer {
    background: linear-gradient(to top, #054C44 0%, rgba(5,76,68,0.8) 20%, rgba(11, 178, 160, 0.3) 80%, transparent 100%);
}

/* ============================================================= */


.exSectionLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    flex-wrap: wrap;
    font-size: 2.7rem;
    padding-top: 8rem;
    margin-bottom: -1rem;
    z-index: 10;
}


.UselfulLinks {
    padding-top: 3rem;
}

.Links {
    display: flex;
    font-size: var(--fs-5);
    padding: 0.25rem;
    gap: 0.5rem;
}

.bg-image-links{
    height: 40px;
}

.Links:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.name-links:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease;   
}

/* =================================================================== */

.bg-footer-pattern {
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: block;
    margin-bottom: -3rem;
    z-index: 5;
}

.autor-logo{
    color: var(--White);
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}

.autorname {
    padding-top: 1.5rem;
    font-size: 2rem;
}

/* ================================================================== */

@media screen and (max-width: 1500px) {
    .exSectionLinks {
        gap: 3rem;
        font-size: 2.3rem;
    }

    .Links {
        font-size: var(--fs-4);
    }
}

@media screen and (max-width: 1300px) {
    
    .exSectionLinks {
        font-size: 2rem;
    }

    .Links {
        font-size: var(--fs-3);
    }

    .bg-image-links {
        max-width: 40px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1200px) {
    
    .exSectionLinks {
        font-size: 1.8rem;
    }
}
